language: node_js

services:
  - docker

# install dependencies (if any - leave true if none)
install: true

# run tests (if any)
script: true

# build, tag, and deploy docker images
after_success:
  - ./docker_push.sh
